@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Orbitron:wght@400..900&display=swap");

:root {
  --primary-color: #40dde3;
}

/* global styles */
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
.left-float-img {
  position: absolute;
  left: -10px;
  top: 15%;
  z-index: 0;
  width: 32%;
}
.right-float-img {
  position: absolute;
  right: -10px;
  top: 47%;
  z-index: 0;
  width: 25%;
}
.blur-bg {
  background-color: #12121373;
  backdrop-filter: blur(10px);
  border: 1px solid #d9d9d93b;
  border-radius: 10px;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.section-container {
  width: 80%;
  margin: 0 auto;
}
.section-btn {
  color: var(--primary-color);
  font-size: calc(var(--window-width) * 1px);
  padding: 0.8% 3%;
  border-radius: 99999px;
  border: var(--primary-color) 1px solid;
  font-weight: 500;
  margin: 0 auto;
  width: fit-content;
  display: block;
  margin-bottom: 5%;
  background-color: transparent;
}
.section-subtitle {
  text-align: center;
  color: white;
  font-size: calc(var(--window-width) * 1px);
}
.card {
  padding: 5%;
  border: 1px solid #d9d9d93b;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
  position: relative;
}
.card-title {
  font-size: calc(var(--window-width) * 1px);
  color: white;
}
.card-description {
  color: #999999;
  font-size: calc(var(--window-width) * 0.8px);
}
.gredient-title {
  font-size: calc(var(--window-width) * 4px);
  font-weight: 700;
  color: transparent;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  background: linear-gradient(
    92.12deg,
    #292929 -2.37%,
    #ffffff 27.47%,
    #676767 51.64%,
    #ffffff 70.68%
  );
  background-clip: text;
}
.input-container {
  padding: 0.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background: transparent;
  border: 1px solid #404040;
  margin: 0 auto 2% auto;
  border-radius: 10px;
}
.input {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.637);
  font-size: calc(var(--window-width) * 1px);
  padding: 0.5% 1%;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  margin-left: 5%;
}
.input::placeholder {
  color: white;
}
.input-btn {
  background-color: var(--primary-color);
  color: #121213;
  font-size: calc(var(--window-width) * 1px);
  padding: 2.5% 7%;
  border-radius: 5px;
  border: none;
  font-weight: 500;
}

/* body styles */
body {
  background-color: #1e1e20;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #40dee321 0.5px, transparent 1px),
    linear-gradient(to bottom, #40dee321 0.5px, transparent 1px);
  background-size: calc(var(--window-width) * 15px)
    calc(var(--window-width) * 15px);
  margin: 0;
  padding: 0;
}

/* navbar styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.nav-img {
  width: 10%;
}
.nav-btn {
  background-color: var(--primary-color);
  color: #121213;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  padding: 0.7% 1.2%;
  border-radius: 5px;
  border: none;
  font-size: calc(var(--window-width) * 1px);
}

/* hero styles */
.hero-container {
  position: relative;
}

.hero-contents-container {
  width: 51%;
  aspect-ratio: 1155/720;
  margin: 0 auto;
  padding: 6% 4% 0 4%;
  margin-top: 5%;
  position: relative;
  z-index: 1;
}
.hero-contents {
  position: absolute;
  z-index: 10;
  left: 25%;
  bottom: 8%;
}

.hero-xp-image-left {
  width: 20%;
  position: absolute;
  left: 10%;
  top: 55%;
  z-index: 1;
}
.hero-xp-image-right {
  width: 20%;
  position: absolute;
  right: 16%;
  top: -1%;
  z-index: 5;
}

.hero-left-box.blur-bg {
  width: 53.5vw;
  aspect-ratio: 15/8.65;
  position: absolute;
  left: 46%;
  top: 6%;
  margin: 0 auto;
  border-radius: 6px 0px 0px 6px;
  z-index: 2;
  background-color: #12121328;
}

.hero-bottom-img {
  width: 62%;
  margin: 0 auto;
  display: block;
}

.hero-subtitle {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: calc(var(--window-width) * 1.4px);
  font-weight: 200;
}

.hero-subtitle:last-of-type {
  margin: 5% auto 2% auto;
}

.bottom-icon-container {
  width: 3%;
  margin: auto auto;
}
.hero-bottom-icon {
  width: 100%;
}

.tab-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7%;
  transform: translateX(-50%);
}
.tab-icon {
  width: 23%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: calc(var(--window-width) * 0.7px);
  line-height: 1;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  background-color: #2a6263;
  border-radius: 9999999px;
  margin: 7% auto 7% auto;
  border: var(--primary-color) 1px solid;
}

.progress-value {
  background-color: var(--primary-color);
  padding: 0px 20% 0% 5%;
  border-radius: 9999999px;
  font-size: calc(var(--window-width) * 1px);
}

/* meet section styles */
.meeting-container {
  padding: 2%;
  margin: 10% auto 10% auto;
}
.meet-btn {
  color: var(--primary-color);
  font-size: calc(var(--window-width) * 1px);
  padding: 0.8% 3%;
  border-radius: 99999px;
  border: var(--primary-color) 1px solid;
  font-weight: 500;
  margin: 0 auto;
  width: fit-content;
  display: block;
  margin-bottom: 5%;
  background-color: transparent;
}

.meeting-container p:last-of-type {
  margin-top: 2%;
}

/* features section styles */
.features-container {
  padding: 2% 8%;
  margin: 10% auto 10% auto;
}

.features-card-container {
  margin: 5% auto;
}
.features-title {
  text-align: center;
  font-size: calc(var(--window-width) * 0.6px);
  color: var(--primary-color);
}
.features-first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  width: 100%;
  margin-bottom: 5%;
}

.features-card-top-corner-icon {
  width: 30px;
  position: absolute;
  top: 5%;
  left: 5%;
}

.features-first-row .card .features-card-img {
  width: 50%;
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.features-second-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  width: 100%;
}

.features-second-row .card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 5%;
}

.features-second-row .card .features-card-img {
  justify-self: center;
  width: 40%;
}

.features-second-row .card .features-card-content {
  align-self: end;
}

/* how to use section styles */
.section-btn.how-to-use-btn {
  background-color: #121213;
}

.how-to-use-card-container {
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  padding: 0% 5%;
}
.card .step {
  font-size: calc(var(--window-width) * 0.7px);
  color: #999999;
}
.card .how-to-use-card-img {
  width: 70%;
  display: block;
  margin: 5% auto 5% auto;
  margin: 0 auto;
}

/* partners section styles */
.partners-container {
  padding: 2% 8%;
  margin: 10% auto 10% auto;
}

.partners-container .section-btn {
  margin-bottom: 3%;
}

.partners-card-container {
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15%;
  column-gap: 10%;
  padding: 0% 5%;
}

.partners-card-container .card .card-img {
  width: 100%;
  display: block;
  margin: 5% auto 5% auto;
  margin: 0 auto;
}

/* bottom section styles */
.bottom-container .gredient-title {
  text-align: start;
  position: relative;
}
.bottom-container .input-container {
  height: fit-content;
  width: 40%;
  position: absolute;
  bottom: 5%;
  right: 2%;
  margin: 0;
}

/* footer styles */
.footer-container {
  margin: 10% auto 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-size: calc(var(--window-width) * 0.8px);
  color: #dededea8;
  font-weight: 200;
}
.footer-links{
  display: flex;
  gap: 100px;
  align-items: center;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.social-text {
  font-size: calc(var(--window-width) * 1px);
  color: rgba(255, 255, 255, 0.623);
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 3%;
}
.social-links-container {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}
.links-container {
  display: inline-flex;
  gap: 20px;
}
.link {
  color: rgba(255, 255, 255, 0.623);
  font-size: calc(var(--window-width) * 1px);
  text-decoration: none;
  font-family: "orbitron", sans-serif;
}
